amqp==2.2.2
appnope==0.1.0
asn1crypto==0.23.0
attrs==17.3.0
bcrypt==3.1.4
beautifulsoup4==4.6.0
billiard==3.5.0.3
brotlipy==0.7.0
celery==4.1.0
certauth==1.2
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
cryptography==2.1.3
decorator==4.1.2
dj-database-url==0.4.2
Django==1.11.6
django-celery-results==1.0.1
django-storages==1.6.5
Fabric3==1.13.1.post1
gevent==1.2.2
greenlet==0.4.12
htmldiffer==0.25.2
idna==2.6
ipdb==0.10.3
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.0
Jinja2==2.8.1
kombu==4.1.0
MarkupSafe==1.0
-e git://github.com/anastasia/minhash.git@e8a3bd8f918088b6373a8638d719d61e20673920#egg=minhash
paramiko==2.4.0
parso==0.1.0
pexpect==4.3.0
pickleshare==0.7.4
pluggy==0.6.0
portalocker==1.1.0
prompt-toolkit==1.0.15
psycopg2==2.7.3.2
ptyprocess==0.5.2
py==1.5.2
pyasn1==0.4.2
pycparser==2.18
Pygments==2.2.0
PyNaCl==1.2.0
pyOpenSSL==17.4.0
python-hashes==0.1
pytest==3.3.1
pytest-django==3.1.2
pytz==2017.3
-e git://github.com/anastasia/pywb@c5388487158ecb44733809fff3e5861852688183#egg=pywb
PyYAML==3.12
redis==2.10.6
requests==2.18.4
requests-file==1.4.2
simplegeneric==0.8.1
six==1.11.0
surt==0.3.0
tldextract==2.2.0
traitlets==4.3.2
urllib3==1.22
vine==1.1.4
warcio==1.5.0
wcwidth==0.1.7
webassets==0.12.1
webencodings==0.5.1
Werkzeug==0.12.2
whitenoise==3.3.1
wsgiprox==1.4.1
