<header class="header-dark container-fluid">

  <div class="row primary-segment">
    <div class="col col-sm-4 col-primary">
        <div class="content">
            File changes:
            <br/>
            <button id="resource-count-added"
                    class="btn btn-ui-small btn-circle btn-resource-details color-added"
                    type="button">
              +{{ resource_count.added }}
            </button>
            <button id="resource-count-missing"
                    class="btn btn-ui-small btn-circle btn-resource-details color-missing"
                    type="button">
              -{{ resource_count.missing }}
            </button>
            <button id="resource-count-changed"
                    class="btn btn-ui-small btn-circle btn-resource-details color-changed"
                    type="button">
              *{{ resource_count.changed }}
            </button>
            <button id="resource-count-total"
                    class="btn btn-ui-small btn-circle btn-resource-details color-total"
                    type="button">
              {{ resource_count.total }}
        </div>
    </div>
    <div class="col col-sm-4 col-primary">
      <h2>Comparing web archive records</h2>
      <div class="comparison-container container">
        <table class="table comparison-table color-white">
          <thead>
            <tr>
              <th>type</th>
              <th>File URL</th>
              <th>% change</th>
            </tr>
          </thead>
          <tbody>
            {% for r in resources %}
              <tr class="resource-{{ r.status }} resource-row">
                <td class="resource-content-type">
                  {{ r.content_type }}
                </td>
                <td>
                  <a href="?q={{r.url}}">
                    {{ r.url}}
                  </a>
                </td>
                {% if r.change %}
                  <td>{{ r.change}}</td>
                {% else %}
                  <td class="resource-{{ r.status }}">{{ r.status }}</td>
                {% endif %}
              </tr>

            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col col-sm-2 col-primary">
      <a target="_blank" href="{{ submitted_url }}" class="light-link">View live</a>
    </div>

    <div class="col col-sm-2 col-primary">
      <a target="" href="/about" class="light-link">About</a>
    </div>

  </div>
  <div class="row light-row">
    <div class="col center-text col-sm-6 col-secondary">captured {{ timestamp1 }}</div>
    <div class="col center-text col-sm-6 col-secondary">captured {{ timestamp2 }}</div>
  </div>
</header>