<header class="header-dark container-fluid">

  <div class="row primary-segment">
    <div class="col col-sm-4 col-primary">
        <div class="content">
            File changes:
            <br/>
            <button id="resources-count-added"
                    class="btn btn-ui-small btn-circle btn-resource-details color-added"
                    type="button">
              +{{ resource_count.added }}
            </button>
            <button id="resource-count-missing"
                    class="btn btn-ui-small btn-circle btn-resource-details color-missing"
                    type="button">
              -{{ resource_count.missing }}
            </button>
            <button id="resource-count-modified"
                    class="btn btn-ui-small btn-circle btn-resource-details color-modified"
                    type="button">
              *{{ resource_count.modified }}
            </button>
            <button id="resource-count-total"
                    class="btn btn-ui-small btn-circle btn-resource-details color-total"
                    type="button">
              {{ resource_count.total }}
            </button>
            <!--<button id="details-button"
                    class="btn btn-ui-small details"
                    type="button">
              Show more details-->
            </button>
        </div>
    </div>
    <div class="col col-sm-4 col-primary">
      <h2>Comparing web archive records</h2>
      <table class="table comparison-table">
        <thead>
          <tr>
            <th>type</th>
            <th>File URL</th>
            <th>% change</th>
          </tr>
        </thead>
        <tbody>
          {% for resource in resources %}
          <tr class="resource-{{ resource.status }} resource-row">
            <!--<th scope="row">1</th>-->
            <td class="resource-content-type">
              {{ resource.content_type }}
            </td>
            <td>
              <a href="?q={{resource.url}}">
                {{ resource.url}}
              </a>
            </td>
            {% if resource.change %}
              <td>{{ resource.change}}</td>
            {% else %}
              <td class="resource-{{ resource.status}}">{{ resource.status}}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col col-sm-2 col-primary">
      <a target="_blank" href="{{ submitted_url }}" class="light-link">View live</a>
    </div>

    <div class="col col-sm-2 col-primary">
      <a target="" href="/about" class="light-link">About</a>
    </div>

  </div>
  <div class="row light-row">
    <div class="col center-text col-sm-6 col-secondary">captured {{ timestamp1 }}</div>
    <div class="col center-text col-sm-6 col-secondary">captured {{ timestamp2 }}</div>
  </div>
</header>