<html>
    <head>
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
      <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
      <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
      <link rel="stylesheet" href="{% static 'css/general.css' %}">
      <link rel="stylesheet" href="{% static 'css/dashboard-styles.css' %}">
        <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			  crossorigin="anonymous"></script>
      <script src="{% static 'js/compare-warcs.js' %}"></script>

      <!-- websockets -->
      <script src="{% static 'js/ws.js' %}"></script>



      <title>
        Archive comparison 404
      </title>
    </head>
    <body>
      Something went wrong
    </body>
</html>
