<html>
    <head>
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/dashboard-styles.css' %}">
        <title>
          Archive comparison
        </title>
    </head>
    <body>
    {% block header %}
      {% include 'includes/header.html' %}
    {% endblock %}

    <div>
      <form action="/compare" method="post">
        {% csrf_token %}
        <input type="hidden" name="compare_id" value="{{ compare_id }}"

        <input type="submit" value="COMPARE">

      </form>
      {{ old_archive_warc }} {{ new_archive_warc }}
    </div>

    <div style="display: block;" class="capture-wrapper">
      <iframe class="archive-display" id="left_frame" src="{{ request1 }}#_diff_deleted_59" ></iframe>
      <iframe class="archive-display" id="right_frame" src="{{ request2 }}#_diff_inserted_59" ></iframe>
    </div>

    </body>
</html>

{% block scripts %}

  <script>
    var archive = { guid: "{{ old_archive.guid }}" };
    var current_user = {id:"{{ request.user.id }}"};
    var resource_count = {
        total: parseInt("{{resource_count.total}}"),
        unchanged: parseInt("{{resource_count.unchanged}}"),
        missing: parseInt("{{resource_count.missing}}"),
        added: parseInt("{{resource_count.added}}"),
        modified: parseInt("{{resource_count.modified}}")
    };
  </script>

{% endblock %}
