{% extends "includes/base.html" %}
{% block title %}Compare web archives{% endblock %}
    {% block header %}
        {% if this_page == 'view_pair' %}
          {% include 'includes/header.html' %}
        {% else %}
          {% include 'includes/compare_header.html' %}
        {% endif %}
      {% endblock %}

    <div style="display: block;" class="capture-wrapper">
    {% if this_page == 'view_pair' %}
        <div class="col-md-6">
          <iframe class="archive-display" id="left_frame" src="{{ request1 }}" sandbox></iframe>
        </div>
        <div class="col-md-6">
          <iframe class="archive-display" id="right_frame" src="{{ request2 }}" sandbox></iframe>
        </div>
    {% elif this_page == 'compare' %}

      <div style="display: block;" class="capture-wrapper">
        <div class="col-md-6">
          <iframe class="archive-display" id="left_frame" src="{{ request1 }}#_diff_deleted_{{ html_deleted }}" sandbox></iframe>
        </div>
        <div class="col-md-6">
          <iframe class="archive-display" id="right_frame" src="{{ request2 }}#_diff_added_{{ html_added }}" sandbox></iframe>
        </div>
      </div>
    {% endif %}
    </div>

{% block scripts %}

  <script>
    var compare_id = "{{ compare_id }}";

    var resource_count = {
        total: parseInt("{{resource_count.total}}"),
        unchanged: parseInt("{{resource_count.unchanged}}"),
        missing: parseInt("{{resource_count.missing}}"),
        added: parseInt("{{resource_count.added}}"),
        changed: parseInt("{{resource_count.changed}}")
    };
  </script>


{% endblock %}
